<nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item cda_logo" href="/">
      cda_&nbsp;
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item" href="http://lucascranach.org/gallery">
        Gemälde
      </a>

      <a class="navbar-item" href="http://lucascranach.org/archival-documents">
        Archivalien
      </a>

      <a class="navbar-item" href="http://lucascranach.org/publications">
        Literatur
      </a>

      <a class="navbar-item" href="{{.Site.BaseURL}}">
        Grafiken
      </a>

      <a class="navbar-item" href="{{.Site.BaseURL}}/patternlab/">
        Patternlab
      </a>

      <!--div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div-->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field has-addons">
          <div class="control">
            <input class="input" type="text" placeholder="no function">
          </div>
          <div class="control">
            <a class="button is-primary">
              Search
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>