<h2 class="title is-2 is-spaced"><i class="material-icons is-spaced">blur_on</i>Moduls</h2>

<div class="content">
  <p>All Modules have to start with `cda-`. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore
    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
</div>
<hr>

{{ $scratch := newScratch }}
{{ $partialBasePath := "/themes/cda/layouts/partials/" }}
{{ $partialTypePath := "m/" }}

{{ $scratch.Set "path" $partialBasePath }}
{{ $scratch.Add "path" $partialTypePath }}
{{ $path := $scratch.Get "path" }}
{{ $partials := readDir $path }}

{{ range $partial := $partials }}
{{ if eq (substr .Name 0 3) "cda" }}
<article class="pl-wrap">
  <h3 class="title is-3">{{ $partialTypePath }}{{ $partial.Name }}</h3>
  {{ $scratch.Set "partialPath" $path }}
  {{ $scratch.Add "partialPath" $partial.Name }}
  {{ $itemDir := $scratch.Get "partialPath" }}
  {{ $scratch.Set "itemDir" $itemDir }}
  {{ $scratch.Add "itemDir" "/" }}
  {{ $scratch.Add "itemDir" .Name }}

  {{ $itemPath := $scratch.Get "itemDir" }}
  {{ $scratch.Set "partial" $itemPath }}
  {{ $scratch.Add "partial" ".md" }}
  {{ $partialName := $scratch.Get "partial" }}

  {{ if (fileExists $partialName) }}
  <div class="pl-desc">
    {{ readFile $partialName  | markdownify }}
  </div>
  {{ end }}

  <div class="tabs-wrapper">
    
    <div class="tabs">
      <ul>
        <li class="cda-tab is-active" data-target="#{{.Name}}-layout"><a>Layout</a></li>
        <li class="cda-tab" data-target="#{{.Name}}-html"><a>HTML</a></li>
        <li class="cda-tab" data-target="#{{.Name}}-scss"><a>SCSS</a></li>
      </ul>
    </div>

    <div class="tabs-content">
      <ul>
        <li class="is-active">
          <div id="{{.Name}}-layout" class="pl-content is-active">
            {{ $scratch.Set "partial" $partialTypePath }}
            {{ $scratch.Add "partial" $partial.Name }}
            {{ $scratch.Add "partial" "/" }}
            {{ $scratch.Add "partial" .Name }}
            {{ $partialName := $scratch.Get "partial" }}
            <div class="box">{{ partial $partialName }}</div>
          </div>
        </li>
        <li>
          <div id="{{.Name}}-html" class="pl-content">
            {{ $scratch.Set "partial" $itemPath }}
            {{ $scratch.Add "partial" ".html" }}
            {{ $partialName := $scratch.Get "partial" }}
            {{ if (fileExists $partialName) }}
            <pre><code>{{ readFile $partialName }}</code></pre>
            {{ end }}
          </div>
        </li>
        <li>
          <div id="{{.Name}}-scss" class="pl-content">
            {{ $scratch.Set "partial" $itemPath }}
            {{ $scratch.Add "partial" ".scss" }}
            {{ $partialName := $scratch.Get "partial" }}
            {{ if (fileExists $partialName) }}
            <pre><code>{{ readFile $partialName }}</code></pre>
            {{ end }}
          </div>
        </li>
    </div>
    </ul>
</article>
<hr>
{{end}}

{{ end }}
