<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ $globalParams := . }}
{{ $scratch := newScratch }}
<head>
  {{ partial "system/head/head.html" $globalParams }}
</head>

<body data-kind="{{.Kind}}" data-baseref="{{.Site.Params.BaseFragment}}/{{ if .File.Dir }}{{ .File.Dir }}{{ end }}" data-permalink="{{.RelPermalink}}">

  {{ partial "system/header/header.html" $globalParams }}

  {{ block "main" . }} {{ end }}

  {{ partial "system/scripts/scripts.html" $globalParams }}
</body>
</html>